html {
    font-family:  Helvetica, Arial, sans-serif;
}
body {
    margin: 0;
}

.canvas {
	display: block;
	width: 100%;
	height: 100%;
}
#canvas-container  {
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	background: radial-gradient(ellipse at center, #ffffff 0%, #d8e9f3 100%);
}
